PORT=3001
SUPABASE_URL=https://lxcndbvszqmdcnornqyr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4Y25kYnZzenFtZGNub3JucXlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg0NDcwNywiZXhwIjoyMDk0NDIwNzA3fQ.QIJH40J6u8GKzYdqscEWRWmP4Vua-USZPcAZt1b9es0
NODE_ENV=development
FRONTEND_URL=http://localhost:5174
ADMIN_EMAIL=admin@demo.com
ADMIN_PASSWORD=admin123
